.benefits__list {
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    width: 270px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.benefits__block {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--buttons-color);
    margin-bottom: 30px;
}

.benefits__icon {
    width: 70px;
    height: 70px;
}

.title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    color: var(--primary-text-color);
}
